.modal__block {
    background: #333333;
    padding: 2rem;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    box-sizing: border-box;

    h2{
        color: #ffffff;
    }
}


.modal__cencel {
    font-size: 14px;
    font-weight: 500;

    &:hover {
        color: #E44242;
    }
}

