.section__title {
    display: flex;
    // justify-content: space-between;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    color: #111;
    // background: #fff;
    font-size: 18px;
    font-weight: 500;
    // border-radius: 8px;
    // padding: 15px 25px;
    // cursor: pointer;
    overflow: hidden;
  }
  
  .section__panel {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #333333;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0 24px;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    border-radius: 8px;
  }

  .section__btn {
    display: inline-block;        
    border: solid 1px #ffffff;
    padding: 4px 15px;         
    color: white;               
    border-radius: 8px;        
    cursor: pointer;             
    white-space: nowrap;          
    overflow: hidden;             
    text-overflow: ellipsis;      
    transition: border-color 0.3s ease;
  
    span {
        font-size: 16px;
    }

    &:hover {
      border-color: #226bb2;
      color: #226bb2;
      transition: background-color 0.3s ease;
    }
  }
  
  .section__panel.active {
    transform: translateX(0%);
    opacity: 1;
  }

.section__add {
    display: flex;
    justify-content: center;
    border-radius: 8px;
    border: dashed 1px #AFAFAF;
    padding: 5px 0;
    transition: border-color 0.3s ease;
    cursor: pointer;
  
    .icon-hover svg line,
    .icon-hover svg circle {
      transition: stroke 0.3s ease;

    }
  
    &:hover {
      border-color: #2C7FCE;
  
      .icon-hover svg line,
      .icon-hover svg circle {
        stroke: #2C7FCE;
      }
    }
  }
  

  .section__menu {
    cursor: pointer; 
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 50%;
    

  }

  .menu-container:hover .section__menu {
    background: #EFEFEF;
  }




  .menu-container {
    position: relative;
    display: inline-block;
  }
  
  .section__menu {
    cursor: pointer;
  }
  
  .section__dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: #333;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 0.5rem 0;
    z-index: 1000;
    min-width: 200px;
  }
  

  .menu-container:hover .section__dropdown {
    display: block;
  }

  .menu-item {
    padding: 10px 16px;
    cursor: pointer;
    transition: background 0.2s ease;
    opacity: 0.5;
  }
  
  .menu-item:hover {
    opacity: unset;
  }

  .menu-item.danger {
    color: #E44242;
  }
